@font-face {
  font-family: "Koe Benson";
  src: url("fonts/koe-benson.ttf");
}

body {
  background-image: url("../images/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: black;
  color: beige;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

.Brand {
  font-family: "Koe Benson";
  font-size: 9.5vmax;
}

.mb-12 {
  margin-bottom: 3rem;
}

.spacing {
  letter-spacing: 0.1em;
}

.text-xs {
  font-size: 0.85rem;
}

.leading-tight {
  line-height: 1.25;
}
.font-thin {
  font-weight: 200;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
