@font-face {
  font-family: "Koe Benson";
  src: url("fonts/koe-benson.ttf");
}

body {
  background-image: url("../images/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  color: beige;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

.Brand {
  font-family: "Koe Benson";
  font-size: 9vmax;
}

.spacing {
  letter-spacing: 0.1em;
}
